{% block nav %}
<div class="navbar navbar-light navbar-expand-lg">
    <button class="sidebar-toggler" type="button">
      <span class="ua-icon-sidebar-open sidebar-toggler__open"></span>
      <span class="ua-icon-alert-close sidebar-toggler__close"></span>
    </button>

    <span class="navbar-brand">
      <a href="/"><img src="{{assets}}/img/logo.png" width="230px" class="navbar-brand__logo"></a>
    </span>

    <span class="navbar-brand-sm">
      <a href="/"><img src="{{assets}}/img/logo-sm.png" alt="" class="navbar-brand__logo"></a>
    </span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="ua-icon-navbar-open navbar-toggler__open"></span>
      <span class="ua-icon-alert-close navbar-toggler__close"></span>
    </button>

    <div class="collapse navbar-collapse" style="right: 0; position: fixed" id="navbar-collapse">
      <div class="dropdown navbar-dropdown no-arrow navbar-notify-dropdown">
        <a class="dropdown-toggle navbar-dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-notify navbar-notify--notifications">
            <span>
              <span class="navbar-notify__icon mdi mdi-bell"></span>
              <span class="navbar-notify__text">Notificaciones</span>
            </span>
            <!--<span class="navbar-notify__amount">3</span>-->
            <!--<span class="navbar-notify__indicator"></span>-->
          </span>
      </a>
      </div>
      <div class="dropdown navbar-dropdown">
        <a class="dropdown-toggle navbar-dropdown-toggle navbar-dropdown-toggle__user" data-toggle="dropdown" href="#">
          <img src="{{assets}}/img/image.gif" alt="" class="navbar-dropdown-toggle__user-avatar">
          <span class="navbar-dropdown__user-name">{{session.NAME}}</span>
        </a>
        <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu__user">
          <div class="navbar-dropdown-user-content">
            <div class="dropdown-user__avatar"><img src="{{assets}}/img/image.gif" alt=""/></div>
            <div class="dropdown-info">
              <div class="dropdown-info__name">{{session.NAME}}</div>
              <div class="dropdown-info__job">{{session.ROLE}}</div>
            </div>
          </div>
            <a class="dropdown-item navbar-dropdown__item" href="/log/out">Cerrar sesión</a>
        </div>
      </div>
    </div>
 </div>
{% endblock %}